node-red/full-dashboard/flows.json
[
    {
        "id": "gastrack-main",
        "type": "tab",
        "label": "GasTrack – T.E. Maxson WWTP",
        "disabled": false,
        "info": "GasTrack flows for T.E. Maxson WWTP biogas system.\nAll API calls go to http://127.0.0.1:8000"
    },
    {
        "id": "api-base",
        "type": "http request",
        "z": "gastrack-main",
        "name": "GasTrack API",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8000/api{{path}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 160,
        "y": 40,
        "wires": [["debug-api"]]
    },
    {
        "id": "debug-api",
        "type": "debug",
        "z": "gastrack-main",
        "name": "API Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "dashboard-tab",
        "type": "ui_tab",
        "name": "GasTrack Live",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "group-inlet",
        "type": "ui_group",
        "name": "Inlet (Pre-BioRem)",
        "tab": "dashboard-tab",
        "order": 1,
        "width": 6
    },
    {
        "id": "group-outlet",
        "type": "ui_group",
        "name": "Outlet (Post-BioRem)",
        "tab": "dashboard-tab",
        "order": 2,
        "width": 6
    },
    {
        "id": "inlet-ch4",
        "type": "ui_gauge",
        "z": "gastrack-main",
        "name": "CH₄ % (Inlet)",
        "group": "group-inlet",
        "order": 1,
        "title": "CH₄",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 70,
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": 40,
        "seg2": 60,
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "inlet-h2s",
        "type": "ui_gauge",
        "z": "gastrack-main",
        "name": "H₂S (Inlet)",
        "group": "group-inlet",
        "order": 2,
        "title": "H₂S",
        "label": "ppm",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": 5000,
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": 1000,
        "seg2": 3000,
        "x": 720,
        "y": 180,
        "wires": []
    },
    {
        "id": "outlet-ch4",
        "type": "ui_gauge",
        "z": "gastrack-main",
        "name": "CH₄ % (Outlet)",
        "group": "group-outlet",
        "order": 1,
        "title": "CH₄",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 70,
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": 50,
        "seg2": 65,
        "x": 720,
        "y": 280,
        "wires": []
    },
    {
        "id": "outlet-h2s",
        "type": "ui_gauge",
        "z": "gastrack-main",
        "name": "H₂S (Outlet)",
        "group": "group-outlet",
        "order": 2,
        "title": "H₂S",
        "label": "ppm",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": 200,
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": 20,
        "seg2": 100,
        "x": 720,
        "y": 340,
        "wires": []
    },
    {
        "id": "poll-live",
        "type": "inject",
        "z": "gastrack-main",
        "name": "Poll every 30s",
        "props": [{"p":"payload"},{"p":"topic","vt":"str"}],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 240,
        "wires": [["fetch-latest"]]
    },
    {
        "id": "fetch-latest",
        "type": "function",
        "z": "gastrack-main",
        "name": "Build queries",
        "func": "msg.path = '/analyzer/latest?point=Inlet';\nnode.send({payload:msg.payload, path:msg.path});\nmsg.path = '/analyzer/latest?point=Outlet';\nnode.send({payload:msg.payload, path:msg.path});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 240,
        "wires": [["api-base"]]
    },
    {
        "id": "parse-latest",
        "type": "function",
        "z": "gastrack-main",
        "name": "Parse & route",
        "func": "if (!msg.payload || typeof msg.payload !== 'object') return null;\nconst p = msg.payload;\nif (p.sample_point === 'Inlet') {\n    flow.set('inlet_ch4', p.ch4_pct || 0);\n    flow.set('inlet_h2s', p.h2s_ppm || 0);\n    node.send([{payload: p.ch4_pct || 0}, {payload: p.h2s_ppm || 0}, null, null]);\n} else if (p.sample_point === 'Outlet') {\n    flow.set('outlet_ch4', p.ch4_pct || 0);\n    flow.set('outlet_h2s', p.h2s_ppm || 0);\n    node.send([null, null, {payload: p.ch4_pct || 0}, {payload: p.h2s_ppm || 0}]);\n}\nreturn null;",
        "outputs": 4,
        "noerr": 0,
        "x": 540,
        "y": 240,
        "wires": [["inlet-ch4"],["inlet-h2s"],["outlet-ch4"],["outlet-h2s"]]
    },
    {
        "id": "flow-entry-tab",
        "type": "ui_tab",
        "name": "Daily Flow Entry",
        "icon": "input",
        "order": 2
    },
    {
        "id": "flow-group",
        "type": "ui_group",
        "name": "Daily Totals (SCF)",
        "tab": "flow-entry-tab",
        "order": 1,
        "width": 12
    },
    {
        "id": "daily-form",
        "type": "ui_template",
        "z": "gastrack-main",
        "group": "flow-group",
        "name": "Daily Flow Form",
        "order": 1,
        "width": 12,
        "height": 12,
        "format": "<div layout=\"column\" layout-align=\"center center\">\n  <md-input-container><label>Date</label><input ng-model=\"date\" type=\"date\"></md-input-container>\n  <md-input-container><label>Blower 1</label><input ng-model=\"b1\" type=\"number\"></md-input-container>\n  <md-input-container><label>Blower 2A</label><input ng-model=\"b2a\" type=\"number\"></md-input-container>\n  <md-input-container><label>Blower 2B</label><input ng-model=\"b2b\" type=\"number\"></md-input-container>\n  <md-input-container><label>Blower 2C</label><input ng-model=\"b2c\" type=\"number\"></md-input-container>\n  <md-input-container><label>Ambient Air</label><input ng-model=\"air\" type=\"number\"></md-input-container>\n  <md-input-container><label>Flared</label><input ng-model=\"flare\" type=\"number\"></md-input-container>\n  <br>\n  <md-button class=\"md-raised md-primary\" ng-click=\"send({payload:{date:date,blower_1_scf_day:Number(b1),blower_2a_scf_day:Number(b2a),blower_2b_scf_day:Number(b2b),blower_2c_scf_day:Number(b2c),biorem_ambient_air_scf_day:Number(air),biogas_flared_scf_day:Number(flare)}})\">Submit</md-button>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 380,
        "y": 460,
        "wires": [["submit-daily"]]
    },
    {
        "id": "submit-daily",
        "type": "function",
        "z": "gastrack-main",
        "name": "POST /daily-flow",
        "func": "msg.method = 'POST';\nmsg.url = 'http://127.0.0.1:8000/api/daily-flow';\nreturn msg;",
        "outputs": 1,
        "x": 620,
        "y": 460,
        "wires": [["api-base"]]
    },
    {
        "id": "manual-tab",
        "type": "ui_tab",
        "name": "Manual Reading",
        "icon": "edit",
        "order": 3
    },
    {
        "id": "manual-group",
        "type": "ui_group",
        "name": "Manual Analyzer Entry",
        "tab": "manual-tab",
        "order": 1,
        "width": 12
    },
    {
        "id": "manual-form",
        "type": "ui_template",
        "z": "gastrack-main",
        "group": "manual-group",
        "name": "Manual Reading Form",
        "order": 1,
        "width": 12,
        "height": 14,
        "format": "<div layout=\"column\" layout-align=\"center center\">\n  <md-input-container><label>Sample Point</label><select ng-model=\"point\"><option>Inlet</option><option>Outlet</option><option>Sheet 1</option><option>Sheet 2</option><option>Sheet 3</option><option>Sheet 4</option><option>Sheet 5</option><option>Sheet 6</option></select></md-input-container>\n  <md-input-container><label>O₂ %</label><input ng-model=\"o2\" type=\"number\" step=\"0.1\"></md-input-container>\n  <md-input-container><label>CO₂ %</label><input ng-model=\"co2\" type=\"number\" step=\"0.1\"></md-input-container>\n  <md-input-container><label>H₂S ppm</label><input ng-model=\"h2s\" type=\"number\"></md-input-container>\n  <md-input-container><label>CH₄ %</label><input ng-model=\"ch4\" type=\"number\" step=\"0.1\"></md-input-container>\n  <md-input-container><label>Temp °F</label><input ng-model=\"temp\" type=\"number\" step=\"0.1\"></md-input-container>\n  <md-input-container><label>Note</label><input ng-model=\"note\"></md-input-container>\n  <br>\n  <md-button class=\"md-raised md-warn\" ng-click=\"send({payload:{sample_point:point,o2_pct:Number(o2),co2_pct:Number(co2),h2s_ppm:Number(h2s),ch4_pct:Number(ch4),t_sensor_f:Number(temp),override_note:note,is_manual_override:true}})\">Submit Manual Reading</md-button>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 380,
        "y": 600,
        "wires": [["submit-manual"]]
    },
    {
        "id": "submit-manual",
        "type": "function",
        "z": "gastrack-main",
        "name": "POST /analyzer",
        "func": "msg.method = 'POST';\nmsg.url = 'http://127.0.0.1:8000/api/analyzer';\nreturn msg;",
        "outputs": 1,
        "x": 620,
        "y": 600,
        "wires": [["api-base"]]
    }
]
